@model TripRate.Models.ModelUser

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

@using (Html.BeginForm())
{
    <div class="center" style="width: 50%;">
        <h2>Reset your password</h2>
        <div>
            @Html.Label("Report your email to reset yout password")
            <div>@Html.TextBoxFor(x => x.Email, new { @placeholder = "Report your email" })</div>
        </div>
        <div>
            <input class="btn-secondary" type="submit" value="Send" asp-action="SendEmailToResetPassword"/>
        </div>
    </div>
}